body {
  font-family: "Open Sans", sans-serif;
  text-align: center; /*Mudei de end para center*/
  margin: 0;
}

#hero {
    width: 592px;
    margin: 0 auto 72px; /*acresncentei o auto*/
}


#img-top-page{
    margin-bottom: 72px;
}

h1 {
  font-family: "Inter", sans-serif;
  font-size: 49px;
  line-height: 56px;
  font-weight: normal;

  margin-bottom: 32px; /*Trouxe a margin-bottom do "h1 span" para o h1*/
}

h1 span {
  font-weight: bold;
}

span, a {
  color: #ff9900;
}

#footer{
  margin: auto;
}

p, #footer {
  color: #7d7987;
  font-size: 14px;
  line-height: 28px;
}

#footer a + a {
    margin-left: 28px;
}

.line {
    width: 568px;
    height: 0;

    margin: 0 auto 8px; /*Acrescentei o auto*/

    border: 1px solid #ECEFF2;
}

#balls {
    position: fixed;
    bottom: 0; /*mudei de top para buttom*/
    right: 0;
}
